@import './main.css';
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 5rem;
}
footer {
    text-align: center;
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 1rem 0;

    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: var(--white);
    transition: .2s all;
}
footer a:hover {
    color: var(--primary);
}